<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Moon Indigo Login</title>
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <script>
$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
  </script>

</head>
<body class='login'>
<div class="login-page">
  <div class="form">
    <h3>
    Moon Indigo
    </h3>
    <p>
    <img width="120px" height="120px" style='vertical-align: text-bottom' src='img/moon-indigo.png'/>
    </p>
    <p>
      Choose a login method
    </p>
    <p>
    <button class='login-btn' onclick="location.href='/google/oauth2callback'">Google Login</button>
    <button class='login-btn' onclick="location.href='/exchange'">Exchange Login</button>
    </p>
  </div>
</div>

</body>
</html>
