<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Nylas Exchange Login</title>
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <script>
$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
  </script>
</head>
<body class='exchange'>
<div class="login-page">
  <div class="form">
    <p>
    <img width="120px" height="120px" style='vertical-align: text-bottom' src='img/moon-indigo.png'/>
    </p>
    <p>
    Moon Indigo Exchange Login
    </p>
    <form class='login-form' action="/exchange" method="POST">
      <input type="text" name="name" placeholder="Erlich Bachman">
      <input type="email" name="email" placeholder="erlich@aviato.com">
      <input type="password" name="password" placeholder="password">
      <button class='exchange-btn'>login</button>
    </form>
    <form class="login-form">
    </form>
  </div>
</div>

</body>
</html>
